%tr{id: "classroom_id_#{classroom.id}"}
  %td= classroom.name
  %td= classroom.pupils.count
  %td= link_to 'Pupils', classroom_pupils_path(classroom)
  %td= link_to 'Edit', edit_classroom_path(classroom)
  %td= link_to 'Destroy', classroom, confirm: "Are you sure you want to delete #{classroom.name}?", method: :delete, remote: true
