<% if @classroom.errors.any? %>

  <% if @classroom.errors[:name].present? %>
    $('#classroom_name').addClass('error').attr("placeholder","<%= @classroom.errors[:name][0] %>").focus();
  <% end %>
<% else %>
  $('#classroom_name').val('').attr("placeholder","Name").removeClass('error').focus();
  $('table').append('<%= j render(@classroom) %>');
<% end %>