%h1 Listing classrooms

%table.table
  %tr
    %th Name
    %th Pupil #
    %th
    %th
    %th
  = render @classrooms

%p= link_to "New Classroom", new_classroom_path, id: 'new_classroom_link', remote: true
