= simple_form_for([@test, @task]) do |f|
  = f.error_notification

  .form-inputs
    = f.input :no, input_html: { value: @next_number }
    = f.association :test, selected: @test_id
    = f.input :max_points, autofocus: true

    = f.button :submit, 'Create Task And Add New', class: 'btn'
    = f.button :submit, class: 'btn'

