%h1 Listing tasks for test #{@test.name}

%table.table
  %tr
    %th No
    %th Max Points
    %th
    %th

  - @tasks.each do |task|
    %tr
      %td= task.no
      %td= task.max_points
      %td= link_to 'Edit', edit_test_task_path(@test,task)
      %td= link_to 'Destroy', [@test,task], method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Task', new_test_task_path(@test)
