%h2 Sign in
= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
  .form-inputs
    = f.input :email, :required => false, :autofocus => true
    = f.input :password, :required => false
    = f.input :remember_me, :as => :boolean, class: 'form-inline' if devise_mapping.rememberable?
    = f.button :submit, "Sign in", class: 'btn'
= render "devise/shared/links"