= simple_form_for [@classroom,@pupil], html: {class: "form-horizontal"} do |f|

  .form-inputs
    = f.input :first_name, placeholder: 'First name'
    = f.input :last_name, placeholder: 'Last Name'

  .form-actions
    = f.button :submit, class: 'btn-primary'
