= simple_form_for [@classroom,@pupil], html: {class: "form-inline"}, remote: true do |f|
  .errors
  
  = f.input_field :first_name, placeholder: 'First name'
  = f.input_field :last_name, placeholder: 'Last Name'

  = f.button :submit