%tr{id: "pupil_id_#{pupil.id}"}
  %td= pupil.first_name
  %td= pupil.last_name
  %td= link_to 'Edit', edit_classroom_pupil_path(@classroom,pupil)
  %td= link_to 'Destroy', [@classroom, pupil], confirm: "Are you sure you want to delete #{pupil.full_name}?", method: :delete, remote: true
