<% if @pupil.errors.any? %>

  <% if @pupil.errors[:last_name].present? %>
    $('#pupil_last_name').addClass('error').attr("placeholder","<%= @pupil.errors[:last_name][0] %>").focus();
  <% end %>
  <% if @pupil.errors[:first_name].present? %>
    $('#pupil_first_name').addClass('error').attr("placeholder","<%= @pupil.errors[:first_name][0] %>").focus();
  <% end %>
<% else %>
  $('#pupil_last_name').val('').attr("placeholder","Last name").removeClass('error');
  $('#pupil_first_name').val('').attr("placeholder","First name").removeClass('error').focus();
  $('table').append('<%= j render(@pupil) %>');
<% end %>