%h1 Listing pupils for classroom #{@classroom.name}

%table.table
  %tr
    %th First name
    %th Last name
    %th
    %th
    %th

  = render @pupils

%br

= link_to 'New Pupil', new_classroom_pupil_path(@classroom), id: "new_pupil_link", remote: true
