= simple_form_for(@test) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :grade_points
    = f.input :repeating

    = f.button :submit, 'Create Test And Add New', class: 'btn'
    = f.button :submit, class: 'btn'

