= content_for :head do
  = javascript_include_tag 'apply_tests'

%h1 Apply test #{@test.name} to students:

= form_tag test_apply_to_pupils_path(@test), method: :post do  
  - @classrooms.each do |classroom|
    %table.table
      %tr
        %th
          = label_tag 'ccb_' + classroom.id.to_s, class: 'checkbox' do
            = check_box_tag 'ccb_' + classroom.id.to_s, 'ccb_' + classroom.id.to_s, false, class: 'ccb' , classroom_id: classroom.id
            = classroom.name
        %th Ime
        %th Prezime

      - classroom.pupils.each do |pupil|
        %tr
          %td= check_box_tag 'pupil_ids[]', pupil.id, false, classroom: classroom.id
          %td= pupil.first_name
          %td= pupil.last_name
  = submit_tag 'Apply', class: 'btn'
