%h1 Grades for #{@test.name}

%table.table
  %thead
    %th Ime
    %th Broj Bodova
    %th Ocjena
  - @pupil_test_points.each do |pupil_test_point|
    %tr
      %td= pupil_test_point.pupil.full_name
      %td= pupil_test_point.points
      %td= @test.grade(pupil_test_point.points)
