%h1 Listing tests

%table.table
  %tr
    %th Name
    %th Task #
    %th Max points
    %th Grade Points
    %th
    %th
    %th
    %th
    %th

  - @tests.each do |test|
    %tr
      %td= test.name
      %td= test.tasks.count
      %td= test.tasks.sum(:max_points)
      %td= test.grade_points
      %td= link_to 'Grades', test_grades_path(test)
      %td= link_to 'Tasks', test_tasks_path(test)
      %td= link_to 'Apply', test_apply_path(test)
      %td= link_to 'Points', test_pupil_task_points_path(test)
      %td= link_to 'Edit', edit_test_path(test)
      %td= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Test', new_test_path
