= content_for :head do
  = javascript_include_tag 'pupil_task_points'

%h1 Listing pupil_task_points for test #{@test.name}

.form-inline
  = label_tag 'classrooms_select', 'Classrooms:'
  = select_tag 'classrooms_select', options_for_select(@classrooms.collect{ |u| [u.name, u.id]}), {prompt: 'All'}
%table.table
  %thead
    %th Points
    %th Max points
    %th Pupil
    %th Task

  - @pupil_task_points.each do |pupil_task_point|
    %tr{cid: pupil_task_point.pupil.classroom.id, pid: pupil_task_point.pupil.id, tid: pupil_task_point.task.test.id} 
      %td{class: 'editable', 'contenteditable' => "true", id: pupil_task_point.id}
        = pupil_task_point.points
      %td= pupil_task_point.task.max_points
      %td= pupil_task_point.pupil.full_name
      %td= pupil_task_point.task.no

