= link_to "Home", root_path, :class => 'brand'
%ul.nav
  - if user_signed_in?
    %li
      = link_to 'Classrooms', classrooms_path
    %li
      = link_to 'Tests', tests_path
    / %li
    /   = link_to 'Tasks', tasks_path
    / %li
    /   = link_to 'Pupil Task Points', pupil_task_points_path
    / %li
    /   = link_to 'Grades', grades_path
    %li
      = link_to('Logout', destroy_user_session_path, :method=>'delete')
  - else
    %li
      = link_to('Login', new_user_session_path)
  - if user_signed_in?
    %li
      = link_to('Edit account', edit_user_registration_path)
  - else
    %li
      = link_to('Sign up', new_user_registration_path)